body {
  margin: 0;
  background: $lpv-bg;
}
.lpv {
  border-radius: 0;
  box-shadow: none;
  height: 100dvh;

  &--moves-bottom {
    grid-template-columns: min(100vw, calc(100dvh - var(--controls-height) - 6em));
    grid-template-rows: auto var(--controls-height) 1fr;
  }

  &--moves-auto {
    @media (max-width: 450px) {
      grid-template-columns: min(100vw, calc(100dvh - var(--controls-height) - 6em));
      grid-template-rows: auto var(--controls-height) 1fr;
    }
  }

  &--players {
    &.lpv--moves-bottom {
      grid-template-columns: min(100vw, calc(100dvh - 2 * 2em - var(--controls-height) - 6em));
      grid-template-rows: 2em auto 2em var(--controls-height) 1fr;
    }

    &.lpv--moves-auto {
      @media (max-width: 450px) {
        grid-template-columns: min(100vw, calc(100dvh - 2 * 2em - var(--controls-height) - 6em));
        grid-template-rows: 2em auto 2em var(--controls-height) 1fr;
      }
    }
  }
}
.not-found {
  @extend %flex-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  height: 100%;
  background: radial-gradient(circle, #484848, #2f3031);

  h1 {
    @extend %roboto;

    font-size: 7vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  }
}
